.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(10, 12, 20, 255);
  .content {
    width: 52%;
    min-width: 700px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1000px) {
  .wrapper {
    .content {
      width: 75%;
      min-width: 0;
      max-width: 1300px;
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 850px) {
  .wrapper {
    .content {
      width: 75%;
      min-width: 0;
      max-width: 1300px;
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 539px) {
  .wrapper {
    .content {
      width: 89%;
      min-width: 0;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 449px) {
  .wrapper {
    .content {
      width: 89%;
      min-width: 0;
    }
  }
}
